{erl_opts, [debug_info]}.
{deps, [
       {proper, "1.1", {git, "https://github.com/manopapad/proper", {branch, "master"}}},
       {jsx, "2.4.0", {git, "https://github.com/talentdeficit/jsx", {tag, "v2.4.0"}}}
]}.

{erl_first_files, ["rec2json"]}.
{eunit_first_files, ["rec2json"]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
